version: '3.8'

services:
  web:
    build: .
    image: app-node-web
    container_name: app-node-container
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
